body{background-image: url(allphotos/home/back.jpg);;}



.myNavColor{background-image: url("allphotos/home/cover.jpg");}

    



h1{text-align: center; color:darkblue}

img{width: 100%;height: 200px;}

.menu{background-color: rgb(0, 2, 5);
    columns: 5;
    column-gap: 1px;
    column-rule: 2px solid whitesmoke;
    position: sticky;
    font-size: 22px;
    top: 0px;
}
.menu a{text-decoration: none;color: rgb(253, 10, 10);}
.menu a:hover{background-color: rgba(233, 7, 7, 0.911);
color: rgb(3, 0, 3);
text-decoration: none;
padding: 0px;
display: block;}


ul{list-style: none;
margin: 0px;
padding: 0px;
text-align: center;
}
.pera{background-image: url(allphotos/home/my.jpg);background-size:cover;
min-height: 700px;}
.pera{background-color: black;}


.about h1{text-align: center;color: rgb(240, 14, 14); }
.about h2,h4{text-align: center; color: rgb(20, 20, 196);}
.xp{margin-left: 50%; margin-top: 8%;text-align: center;}
.xp ul{font-size: xx-large;color: crimson;}
.xp h2{color: darkgreen;}

.worklist{
font-size: 20px;}
.vid h3{color: maroon;}

}

.worklist a{color: rgb(252, 99, 206);}
.worklist ol a{text-decoration: none; display: block; color: rgb(58, 37, 247);}
.worklist ol  :hover{background-color: rgb(0, 0, 0);color: white;}
.worklist h1{color: darkgreen;}

.fotericon img{ height:25px; width: 25px; }
.fotericon{ margin-left: 45%;}
.footer {background-color: rgb(0, 0, 0);}

<!====================footer============>


