body{background-color: rgb(18, 204, 204);}

h1{text-align: center; color:darkblue}

img{width: 100%;height: 200px;}

.nav{background-color: rgb(39, 131, 62);
    columns: 5;
    column-gap: 1px;
    column-rule: 2px solid whitesmoke;
    position: sticky;
    font-size: 22px;
    top: 0px;
}
.nav a:hover{background-color: rgb(60, 5, 212);
color: rgb(204, 27, 204);
text-decoration: none;
padding: 0px;
display: block;}


ul{list-style: none;
margin: 0px;
padding: 0px;
text-align: center;
}
.pera{background-color: powderblue;width: 78%;float: left; height: 500px;}

.worklist{float: right; width: 20%; top: 10px;
background-color: royalblue; height: 500px;}

p{font-size: 20px;}