h1{color: rgb(55, 134, 31); text-align: center;}
.one{width: 100%;margin: auto;}

.menu{background-color: rgb(39, 131, 62);
    columns: 5;
    column-gap: 1px;
    column-rule: 2px solid whitesmoke;
    position: sticky;
    font-size: 22px;
    top: 0px;
    margin-left: 117px;
    margin-right: 116px;
}
a{text-decoration: none;color: rgb(21, 191, 243);}
.menu a:hover{background-color: rgb(60, 5, 212);
    color: rgb(204, 27, 204);
    text-decoration: none;
    padding: 0px;
    display: block;}
    
    
    ul{list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    }
    h2{background-color: rgb(222, 10, 241);color: darkblue;text-align: center;}
.row{background-color: rgb(28, 8, 75);}