body{background-color: aquamarine;}

.container{margin-left:;}
.nb{display: inline-flex;;
}

.button{background-color: #ffd200; border-radius: 5px;margin-top: 10px;
    overflow: hidden;float: left;
}
.ban{background-image: url("photobook/Main\ banner.png");
 ;background-size: contain;background-position: top,center;background-repeat:no-repeat;
 min-height: 530px;
}

.con1{margin-top: 30px;}
.bantex h1,h5{text-align: center;}


.gol1 img{text-align: center; height: 140px;width: 140px; border: solid 3px;color:#ffd200;
    padding: 5px;border-radius: 50%;padding: 5px;

}

.logo{margin-bottom: 100px;}
.adv{min-height: 815px;background-color: #f3f0e7; }

.advantege{text-align: center; }
.gol2 img{height: 269px;width: 269px;margin-bottom: 25px;padding: 5px;}
.btn2{max-width: 370px; max-height: 60px;}
.b2{margin-top: 100px;}






/* card*/
.card{border-radius: 5px;}
.card-bg{background-color:#ffd200; width: 313px; height:415px ;}
.card-title{margin-top: 45px; bottom: 45px;}
.card-title2 h5{color: rgb(139, 28, 28);}
.card-title2{margin-top: 15px;}
.card-body{width:305px ; height: 255px; background-color:white;margin: auto;}
.card-body h5{text-align: left;}


.card-body h1{text-align: center;;}
.doller{margin: auto;}
.card-foter{margin-top: 10px;}
.cr{min-height: 670px;}


/* testimonial*/
.testi{background-color:#f3f0e7;min-width: 760px ; background-size:contain; margin-bottom: 300px;}
.c1 h1{margin-top: 120px;}
.c1 p{margin-top: 50px;}


/*footer*/
.foot{background-color:#ffd200; ;}
.ic{height: 30px;width: 30p;}
.end{margin-top: 100px;}